body {
    //background-color: $gray-200;
    //font-family: $font-family-sans-serif;
    font-size: $body-font-size;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease-in-out;
}

.loaded {
    opacity: 1 !important;
}

::selection {
    background: $red;
    color: $white;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $link-hover-color;
    }
}

.content-container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1280px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;

    & > .content-section {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.material-symbols-outlined {
    font-size: inherit;
    vertical-align: top;
    margin-right: 5px;
}

.content-wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.page {
    .content-wrapper {
        @include media-breakpoint-down(lg) {
            position: relative;
            top: 0;
            right: 0;
            flex-direction: column;
        }
    }
}

.shadow-item {
    box-shadow: 0 0 0.5rem rgba($black, 0.1);
}

.card-item {
    background: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;

    @extend .shadow-item;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: transparent;
    text-transform: uppercase;
    border: 3px solid $black;
    color: $black;

    &:hover {
        background: $red;
        color: $white;
    }

    &-ghost {
        background: transparent;
        color: $primary;

        &:hover {
            background: transparent;
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    span {
        background: $red;
        color: $white;
    }
}

h1 {
    font-size: 3rem;
    text-align: center;

    @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2.5rem;
    border-bottom: 3px solid $black;

    @include media-breakpoint-down(lg) {
        font-size: 2rem;
    }
}

.add_to_favorites {
    border: 0;
    background: transparent;
}

main {
    padding-bottom: 2rem;
}

.attraction-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
        color: $white;
    }

    svg {
        fill: white;
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
}

.attraction-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    &--fullwidth {
        grid-template-columns: 1fr;
    }
}

.page-heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
    color: $black;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }
}

.page-section {
    margin-bottom: 2rem;
    position: relative;

    .btn-wrapper {
        margin: 2rem auto 0;
        display: flex;
        justify-content: center;
    }
}

.events-list-section {
    margin-bottom: 4rem;

    h3 {
        font-size: 2rem;
        border-bottom: 3px solid $black;
    }

    &--nomb {
        margin-bottom: 0;
    }
}

.pagination-nav {
    width: 100%;
    left: 0;
    z-index: 8;

    svg {
        width: 20px;
        height: 20px;
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            list-style-type: none;
            width: 50px;
            height: 50px;

            &.active {
                & > * {
                    background: $red;
                    color: $white;
                }
            }

            & > * {
                color: $black;
                border: 2px solid $black !important;
                column-gap: 10px;
                margin-right: 3px;
                background-color: transparent;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    span[aria-current="page"] {
        span {
        }
    }
}

.sorting {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 0;

    @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
        right: 0;
        flex-direction: column;
    }
}

.sorting-item {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;

    @include media-breakpoint-down(lg) {
        margin-left: 0;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
}

input,
select {
    border: 2px solid $black;
}

.splide__video__play {
    background: $primary;
    width: 80px;
    height: 80px;

    &::after {
        border-color: transparent transparent transparent #fff;
        border-width: 17px 0 17px 24px;
    }
}

.lazy-image {
    filter: blur(10px);
}

.error-heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: $black;
    font-size: 6rem;
}

.error-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;

    &--bigger {
        font-size: 1.5rem;
    }
    p {
        font-family: $display-font-family;
    }
}
