// Body
$body-bg: #f3f3f3;

// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
$headings-font-family: "Bebas Neue", cursive;
$display-font-family: "Bebas Neue", cursive;
//$primary: $red;
$red: #d9414f;
$primary: #d9414f;
$primary-lighten: #d9414f;
$white: #fff;
$text-color: $white;
$contrast-text-color: $black;
$event-poster-color: $text-color;
$event-card-hover-bg: linear-gradient(to top, rgb(21 21 21), rgb(21 21 21 / 0.65));
$link-color: $text-color;
$link-shade-percentage: 40%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$headings-margin-bottom: 1rem;
$font-size-base: 1rem;
$body-font-size: 14px;
$line-height-base: 1.6;
$header-height: 60px;
$card-item-bg: #fff;
$sidebar-color: $text-color;
$footer-bg: $gray-100;
$text-muted-color: $contrast-text-color;
$card-date-color: $body-bg;
$events-grid-bg: $white;
$venue-card-bg: $white;
$venue-title: $contrast-text-color;
$border-width: 3px;
$btn-ghost-color: $primary;
$nav-color: $text-color;
$city-picker-color: $contrast-text-color;
$city-picker-bgcolor: $body-bg;
$subnav-color: $contrast-text-color;
$event-card-title-color: $black;
$event-card-title-color-hover: $white;
$attraction-card-bg: $black;
$attraction-card-color: $white;
