.content-block {
    @extend .card-item;

    &__body {
        img,
        iframe {
            max-height: 400px;
            width: 100%;
            object-fit: contain;
        }
    }
    &__title {

    }
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
