.event-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    height: 100%;

    @include media-breakpoint-down(lg) {
        display: flex;
        height: auto;

        .event-sidebar__price,
        .event-sidebar__venue {
            display: none;
        }
    }

    .material-symbols-outlined {
        font-size: 22px;
    }

    &__date {
        background: $red;
        padding: 1rem !important;
        margin-bottom: 1rem;

        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
            border-radius: 0;
        }

        span {
            color: white;
        }

        &-day {
            font-family: $display-font-family;
            font-size: 32px;
            font-weight: 700;
            line-height: 1;
        }

        &-time {
            width: 100%;
            padding: 0 30px;
        }
    }

    &__venue {
        a {
            color: $black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 85%;
        }
    }

    li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    &__link {
        position: absolute;
        bottom: 20px;
        left: 50px;
        width: 200px;
        padding: 10px;
        font-size: 20px;
        animation: bounce 6s ease infinite;

        @include media-breakpoint-down(lg) {
            position: static;
            font-size: 16px;
            width: 160px;
            padding: 6px;
            background: $red;
            color: $white;
            border-color: $white;
        }
    }
}

@keyframes bounce {
    90% { transform: translateY(0%) translateX(0%); }
    95% { transform: translateY(-15%) translateX(0%); }
    96% { transform: translateY(0%) translateX(0%); }
    97% { transform: translateY(-7%) translateX(0%); }
    98% { transform: translateY(0%) translateX(0%); }
    99% { transform: translateY(-3%) translateX(0%); }
    100% { transform: translateY(0) translateX(0%); }
}
