.event-poster {
    position: relative;
    margin-bottom: 0;

    &__image-wrapper {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;

        &--featured {
            height: 600px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            min-height: 400px;
            object-fit: cover;
        }
    }

    &__meta {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        height: 100%;
        background-image: linear-gradient(to top, rgb(21 21 21), rgb(21 21 21 / 0.65), rgb(255 255 255 / 0));
        color: $white;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        &--centered {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        font-family: $headings-font-family;
        font-size: 6rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 0;
        padding: 0 0.5rem;
        display: inline;
        vertical-align: middle;

        @include media-breakpoint-down(lg) {
            font-size: 4rem;
        }

        &--featured {
            line-height: 1.1;
            margin: 0 auto;
            display: block;
            width: 60%;
            font-size: 8rem;
            color: white; /* Unfortunately you can't use transparent here … */
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            border-bottom: 1px solid $white;

            /* Real outline for modern browsers */
            @supports ((text-stroke: 1px $white) or (-webkit-text-stroke: 1px $white)) {
                color: transparent;
                -webkit-text-stroke: 0.5px $white;
                text-stroke: 0.5px $white;
                text-shadow: none;
            }

            @include media-breakpoint-down(lg) {
                font-size: 4rem;
            }
        }
    }

    &__date {
        display: block;
        margin: 1rem;
        font-size: 1rem;
    }

    &__favorites {
        display: inline;
        vertical-align: middle;

        button {
            background: transparent;
            text-align: center;
            border: 0;
            color: $white;
            font-size: 4rem;
            padding: 0;
            margin: 0;
            cursor: pointer;
            line-height: 1;
            width: 80px;
            height: 80px;
            border-radius: 40px;

            &:hover {
                color: $red;
            }

            &.active {
                background: $red;
                color: $white;
            }

            .material-symbols-outlined {
                margin: 0;
                pointer-events: none;
            }
        }
    }
}
