footer {
    background: $footer-bg;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .copyright {
        font-size: 12px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;

        @include media-breakpoint-down(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            grid-gap: 0.5rem;
        }

        li {
            margin: 0 0.5rem;
            padding: 0;

            a {
                color: $contrast-text-color;
            }
        }
    }
}
