.page-nav {
    @extend .shadow-item;

    background: $text-color;
    width: 100%;
    display: block;
    top: $header-height;
    left: 0;
    z-index: 8;

    ul {
        max-width: 1280px;
        padding: 1rem 2rem;
        list-style: none;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        font-size: 1rem;
        color: $contrast-text-color;
        font-weight: 600;

        &:hover,
        &:focus,
        &:active {
            color: $link-hover-color;
        }
    }
}
