.sticky-sidebar {
    position: sticky;
    top: 5rem;
    height: 20vh;
    width: 25rem;
    overflow: auto;
    background-color: $white;
    border-right: 1px solid $gray-200;
    box-shadow: 0 0 0.5rem rgba($black, 0.1);
    margin-top: -5rem;
    padding: 5rem 0;
    z-index: 2;
}
