.sticky-sidebar {
    @extend .card-item;

    position: sticky;
    top: 80px + $header-height;
    height: 300px;
    width: 25rem;
    overflow: auto;
    margin-top: -147px;
    padding: 0;
    z-index: 12;
}
